* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  background-color: black !important;
  color: rgb(140, 212, 30) !important;
}

a {
  color: rgb(140, 212, 30) !important;
  text-decoration: none;
  padding: 20px;
  margin-top: 20px;
}
box{
  background-color: black !important;
}
a:hover {
  color: red !important;
}

a.active {
  color:  greenyellow !important;
}
